
* {
	box-sizing: border-box;
}
body {
	margin: 0px;

}
.a {
	width: 100%;
	background-color: black;
	display: inline-flex;
	padding: 5px;
	color: white;
	list-style-type: none;
	margin-top: 0px;
	font-size: 15px;
	font-weight: bold;
}
.a1 {
	margin: -5px 0px 0px 30px;
}
.a2 {
	margin: 0px 10px 0px 20px;
}
.a3 {
	margin: 0px 30px 0px 30px;
}
.a4 {
	margin: 0px 0px 0px 600px;
}
.a5 {
	margin: 0px 0px 0px 50px;
}
.a6 {
	margin: 0px 0px 0px 40px;
}
.b {
	display: inline-flex;
	width: 100%;
	height: 80px;
	background-color: grey;
	list-style-type: none;
	margin-top: -10px;
	color: white;
}
.b2{
	font-weight: bold;
	font-size: 25px;
	font-style: oblique;
}
input[type=text]{
	height: 40px;
	width: 400px;

}
.b3 button {
	height: 40px;
	width: 150px;
	background-color: darkviolet;
	border: hidden;
}
.b3 span {
	height: 20px;
	width: 20px;
	right: 10px;
}
.b5 p{
	margin: -3px 0px 0px 10px;
}
.b1 {
	margin: 5px 0px 0px -10px;
}
.b2 {
	margin: 20px 0px 0px 20px;
}
.b3 {
	margin: 20px 0px 0px 200px;
}
.b4 {
		margin: 19px 0px 0px 0px;
}
.b5 {
	margin: 5px 0px 0px 150px;
}
.c {
	background-color: lightgrey;
	width: 100%;
	display:flex;
	margin-top: -5px;
	height: 80px;
	padding: 5px;
	list-style-type: none;
	border-bottom: 3px solid black;
}
.c1 {
	margin: 16px 0px 0px 40px;
}
.c1 select {
	width: 150px; 
	height: 38px; 
	font-size: 15px;
	padding: 0px 25px;
	background-color: darkviolet;
	color: white;
	border: hidden;
}
.c2 {
	margin: 15px 0px 0px 0px;
}
.c2 input[type=text] {
	width: 300px;
	background-position: 20px 20px;
	background-repeat: no-repeat;
}
.c21 {
	margin: 17px 0px 0px -35px;
}
.c3 {
	margin: 25px 0px 0px 15px;
}
.c3 select {
	font-size: 17px;
	border: hidden;
	background-color: lightgrey;
	font-weight: bold;
}

.c4 {
	margin: 23px 0px 0px 8px;
}
.c5 {
	margin: 14px 0px 0px 10px;
}
.c6 {
	margin: 18px 10px 0px 5px;
}
.c4{
	font-size: 17px;
}
.c5 button {
	height: 40px;
	width: 80px;
    background-color: green;
    border: hidden;
}
.imgs {
	margin-left: 30px;
	float: left;
	border: hidden;
	width: 300px;
	height: 300px;
 margin-top: 10px;
 margin-bottom: 50px;

}
.imgs .i1 {
	width: 100%;
}
.p1 img {
	float: right;
	margin:-40px 0px 0px 5px;
	
}
.p1 {
	background-color: darkviolet;
	color: white;
	font-weight: bold;

}
.p1 p {
	margin-left: 10px;
}
.last button {
	height: 40px;
	width: 100px;
	margin: 20px 0px 15px 620px;
}
.f1 {
	width: 100%;
	height: 160px;
	list-style-type: none;
	background-color: black;
}

.fina {
	list-style-type: none;
	display: inline-flex;
	margin-top: -20px
}
.na1 {
	margin: 50px 0px 0px 550px;
}
.na2 {
	margin: 50px 0px 0px 20px;
}
.na3 {
	margin: 50px 0px 0px 20px;
}
.na4 {
	margin: 50px 0px 0px 20px;
}
.cmpl {
	text-align: center;
	background-color: black;
	font-weight: bolder;
}
